.theme--light.v-application {
	color: var(--v-secondary-base) !important;
}
header.v-app-bar > .v-toolbar__content {
	height: auto !important; 
}
h2 {
  color: var(--v-primary-base);
  font-size: 200%;
  padding-bottom: 16px;
  text-transform: uppercase;
}
.box {
  border: 2px solid var(--v-primary-base);
  clear: both;
  padding: 1.5rem;
  width: 100%;
}
.box > h4:first-child {
  background-color: var(--v-lightgrey-base);
  color: var(--v-primary-base);
  display: table;
  font-size: 100%;
  font-weight: 500;
  margin: -3rem auto 0;
  padding: .75rem 1rem;
  text-transform: uppercase;
}
.box .d-flex {
  flex-wrap: wrap;
}
.box .d-flex > div {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 300px;
  padding: 1.5rem;
}
.box .d-flex h5 {
  color: var(--v-primary-base);
  font-size: 110%;
  font-weight: 300;
  text-transform: uppercase;
}
.flex-basis-100 {
  flex-basis: 100% !important;
}
h3.subtitle {
	font-size: 220%;
  font-weight: 800;
  line-height: 1em;
  margin-bottom: 1rem;
}
.v-expansion-panel::before,
.v-sheet.v-card:not(.v-sheet--outlined) {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, .075);
}

/* Components */
.v-list.links-bordered {
  background-color: transparent !important;
  padding: 0 0 2em;
  margin-left: -8px;
  margin-right: -8px;
}
.v-list.links-bordered .v-list-item {
  border: 2px solid var(--v-primary-base);
  margin: 8px;
  min-height: 42px;
}
.v-list.links-bordered .v-list-item:hover {
  background-color: var(--v-secondary-base);
  border-color: var(--v-secondary-base);
  color: var(--v-white-base);
}
.v-list.links-bordered .v-icon,
.v-list.links-bordered .v-list-item__title {
  color: var(--v-primary-base);
}
.v-list.links-bordered .v-list-item:hover .v-icon,
.v-list.links-bordered .v-list-item:hover .v-list-item__title {
  color: var(--v-white-base);
}
.v-list.links-bordered .v-list-item__icon:first-child {
  margin: 8px 16px 8px 0;
}
.v-list.links-bordered .v-list-icon {
  margin: 12px 0;
}
.v-list.links-bordered .v-list-item__title {
  font-weight: 500;
}
